<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">NewTekkenApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
            <NavLink class="nav-link" href="/Admin/Moves/">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Moves
            </NavLink>
            <NavLink class="nav-link" href="/Admin/MoveCommands/">
                <span class="oi oi-list-rich" aria-hidden="true"></span> MoveCommands
            </NavLink>
            <NavLink class="nav-link" href="/Admin/MoveDatas/">
                <span class="oi oi-list-rich" aria-hidden="true"></span> MoveDatas
            </NavLink>
            <NavLink class="nav-link" href="/Admin/MoveTypes/">
                <span class="oi oi-list-rich" aria-hidden="true"></span> MoveTypes
            </NavLink>
            <NavLink class="nav-link" href="/Admin/MoveSubTypes/">
                <span class="oi oi-list-rich" aria-hidden="true"></span> MoveSubTypes
            </NavLink>
            <NavLink class="nav-link" href="/Admin/MoveTexts/">
                <span class="oi oi-list-rich" aria-hidden="true"></span> MoveTexts
            </NavLink>
            <NavLink class="nav-link" href="/Admin/States/">
                <span class="oi oi-list-rich" aria-hidden="true"></span> States
            </NavLink>
            <NavLink class="nav-link" href="/Admin/StateGroups/">
                <span class="oi oi-list-rich" aria-hidden="true"></span> StateGroups
            </NavLink>
            <NavLink class="nav-link" href="/Admin/HitTypes/">
                <span class="oi oi-list-rich" aria-hidden="true"></span> HitTypes
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
