<nav class="navbar navbar-dark bg-dark navbar-expand-sm navbar-light border-bottom  box-shadow p-0 m-0">
    <div class="container-fluid border  p-0 m-0">
        <a class="navbar-brand" href="#">Tekken Frame</a>
        <CultureSelector />
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation" @onclick="ToggleNavMenu1">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="@NavMenuCssClass1 border-white justify-content-end" id="navbarColor03">
            <div class="navbar-nav px-3">
                <UserLoginDisplay />
            </div>
        </div>
    </div>
</nav>

<nav class="navbar navbar-dark bg-dark navbar-expand navbar-light  box-shadow p-0 m-0">
    <div class="nav-item navbar-nav row">
        <div class="col-auto">
            <NavLink class="nav-link" href="/User/MoveLists/">
                MoveLists
            </NavLink>
        </div>
        <div class="col-auto">
            <NavLink class="nav-link" href="/User/Punishments/">
                Punishments
            </NavLink>
        </div>
        <div class="col-auto">
            <NavLink class="nav-link" href="/User/About">
                About
            </NavLink>
        </div>
    </div>
</nav>

@code {
    bool collapseNavMenu1 = true;
    bool collapseNavMenu2 = true;

    string baseMenuClass = "navbar-collapse";
    
    string NavMenuCssClass1 => baseMenuClass + (collapseNavMenu1 ? " collapse" : "");
    string NavMenuCssClass2 => baseMenuClass + (collapseNavMenu2 ? " collapse" : "");

    void ToggleNavMenu1()
    {
        collapseNavMenu1 = !collapseNavMenu1;
    }
    void ToggleNavMenu2()
    {
        collapseNavMenu2 = !collapseNavMenu2;
    }
}
