<nav class="navbar navbar-dark bg-dark navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-0">
    <div class="container d-md-inline-flex border border-1 border-white p-0 m-0">
    <a class="navbar-brand d-md-inline-flex flex-md-grow-1" href="#">Tekken Frame</a>
    <button class="navbar-toggler d-md-inline-flex flex-md-grow-1" type="button" data-bs-toggle="collapse" data-bs-target=".multiNav" aria-controls="navbarColor02 navbarColor03" aria-expanded="false" aria-label="Toggle navigation" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>

        <div class="@NavMenuCssClass border border-1  border-white multiNav   justify-content-start flex-md-grow-0 text-start" id="navbarColor02">

            <nav class="navbar-nav">
                <div class="nav-item">
                    <NavLink class="nav-link" href="/User/MoveLists/">
                        MoveLists
                    </NavLink>
                </div>
                <div class="nav-item">
                    <NavLink class="nav-link" href="/User/Punishments/">
                        Punishments
                    </NavLink>
                </div>
                <div class="nav-item">
                    <NavLink class="nav-link" href="/">
                        About
                    </NavLink>
                </div>
            </nav>
        </div>

        <div class="@NavMenuCssClass border border-1  border-white  multiNav justify-content-end  flex-md-grow-0  text-end" id="navbarColor03">
            <nav class="navbar-nav   mb-2 mb-lg-0 ms-auto ">
                <div class="nav-item">
                    <NavLink>
                        <CultureSelector />
                    </NavLink>
                </div>
                <div class="nav-item">
                    <NavLink class="nav-link" href="Identity/Account/Register">
                        Register
                    </NavLink>
                </div>
                <div class="nav-item">
                    <NavLink class="nav-link" href="Identity/Account/Login">
                        Log in
                    </NavLink>
                </div>
                <div class="nav-item">
                    <NavLink class="nav-link" href="Identity/Account/LogOut">
                        Log out
                    </NavLink>
                </div>
            </nav>

        </div>
    </div>
</nav>
<style>
    .navbar-collapse {
        flex-basis: 50%;
    }
</style>

@code {
    bool collapseNavMenu = true;

    string baseMenuClass = "navbar-collapse";
    //d-sm-inline-flex flex-sm-row-reverse
    string NavMenuCssClass => baseMenuClass + (collapseNavMenu ? " collapse" : "");

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
