<AuthorizeView>
    <Authorized>
        <div class="d-flex align-items-center">
            <a href="Identity/Account/Manage">Hello, @context.User.Identity?.Name!</a>
        </div>
        <div class="d-flex align-items-center">
            <form method="post" action="Identity/Account/LogOut">
                <button type="submit" class="btn btn-outline-light d-inline">Log out</button>
            </form>
        </div>
    </Authorized>
    <NotAuthorized>
        <div>
            <NavLink class="nav-link" href="Identity/Account/Login">
                <span class="btn btn-outline-light">Login</span>
            </NavLink>
        </div>
        <div>
            <NavLink class="nav-link" href="Identity/Account/Register">
                <span class="btn btn-outline-light">Sign-up</span>
            </NavLink>
        </div>
    </NotAuthorized>
</AuthorizeView>
<AuthorizeView Roles="Admin">
    <div>
        <NavLink class="nav-link" href="/Admin">
            <span class="btn btn-outline-light">AdminMenu</span>
        </NavLink>
    </div>
</AuthorizeView>
