@page "/StateGroups/Edit/{Id:int}"
@inherits BaseDataComponent
<h3>@GetAppTitle()</h3>
<TekkenApp.Pages.Components.Base.Data.EditComponent APP="@appType" TDataEntity="StateGroup" TNameEntity="StateGroup_name" baseService=@commonService Id="@Id">
</TekkenApp.Pages.Components.Base.Data.EditComponent>

