@page "/StateGroups/Edit_name/{Id}"

<h3>Details</h3>
<TekkenApp.Pages.Components.NameEditComponent baseTranslateName="@stateGroup_name" baseService="@stateGroupService">
</TekkenApp.Pages.Components.NameEditComponent>
