@page "/StateGroups"
@page "/StateGroups/Index"
@inherits BasePageComponent
<h3>@GetAppTitle()</h3>
<TekkenApp.Pages.Components.Base.Data.ListComponent APP="@appType" TDataEntity="StateGroup" TNameEntity="StateGroup_name" baseService="@commonService">
</TekkenApp.Pages.Components.Base.Data.ListComponent>
