@page "/Components/SharedComponents/CharacterSelectBox"

@if (selectListItems == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        <select id="Character" class="form-control" @onchange="@(e =>  OnCharacterChanged.Invoke((string)e.Value))">
            @foreach (var selectItem in selectListItems)
            {
                <option value="@selectItem.Value">@selectItem.Text</option>
            }
        </select>

    </div>
}
