@page "/HitTypes"
@page "/HitTypes/Index"

@inherits BasePageComponent

<h3>@GetAppTitle()</h3>

<ListComponent APP="@App" TDataEntity="HitType" TNameEntity="HitType_name" baseService="@commonService">
</ListComponent>
