@page "/States/Admin/Delete/{Id:int}"
@inherits BasePageComponent
<h3>@GetAppTitle()</h3>
<DeleteComponent APP="@App" TDataEntity="State" TNameEntity="State_name" baseService="@CommonService" Id="@Id">
</DeleteComponent>
