@page "/Components/Base/Name/CreateNameComponent"
@inherits BaseComponent<TDataEntity, TNameEntity>
@typeparam TDataEntity
@typeparam TNameEntity

<h3 class="mt-3 mb-3">CreateName</h3>
@if (baseName == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <form class="row g-3">
        <div class="mb-3 row">
            <label class="col-1 col-form-label">ID</label>
            <div class="col-auto">
                <input type="text" readonly class="form-control" @bind-value="@baseName.Id" />
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-1 col-form-label">코드</label>
            <div class="col-auto">
                <input type="text" readonly class="form-control" @bind-value="@baseName.Base_code" />
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-1 col-form-label">언어</label>
            <div class="col-auto">
                <input type="text" readonly class="form-control" @bind-value="@baseName.Language_code" />
            </div>
        </div>

        <div class="mb-3 row">
            <label class="col-1 col-form-label">명칭</label>
            <div class="col-auto">
                <input type="text" class="form-control" @bind-value="@baseName.Name" />
            </div>
        </div>
        <div class="mb-3 row">
            <input type="button" class="btn btn-primary btn-lg" value="저장" id="btnEdit_Click" @onclick="SaveCreate" />
            <input type="button" class="btn btn-primary btn-lg" value="리스트" id="btnList_Click" @onclick="MoveToList" />
        </div>
    </form>
}
