@page "/States/Create"
@inherits BasePageComponent

<h3>@GetAppTitle()</h3>
<CreateComponent APP="@App" TDataEntity="State" TNameEntity="State_name" baseService="@CommonService" StateGroupCode="@StateGroupCode">
</CreateComponent>
