@page "/States/Create"
@inherits BasePageComponent

<h3>@GetAppTitle()</h3>
<CreateComponent APP="@appType" TDataEntity="State" TNameEntity="State_name" baseService="@commonService" StateGroupCode="@StateGroupCode">
</CreateComponent>
