@page "/States/Edit_name/{Id:int}"
@inherits BasePageComponent
<h3>@GetAppTitle()</h3>
<NewTekkenApp.Pages.Components.Base.Name.EditNameComponent APP="@appType" TDataEntity="State" TNameEntity="State_name" baseService="@commonService" Id="@Id">
</NewTekkenApp.Pages.Components.Base.Name.EditNameComponent>

