@page "/States"
@page "/States/Index"
@inherits BasePageComponent
<h3>@GetAppTitle()</h3>

<CascadingValue Value="StateGroupId">
    <StateGroupSelectBox>
    </StateGroupSelectBox>
    <NewTekkenApp.Pages.Components.Base.Data.ListComponent APP="@appType" TDataEntity="State" TNameEntity="State_name" baseService="@commonService">
    </NewTekkenApp.Pages.Components.Base.Data.ListComponent>
</CascadingValue>