@page "/Admin/StateGroups/Edit_name/{Id:int}"
@inherits BasePageComponent
<h3>@GetAppTitle()</h3>
<EditNameComponent APP="@App" TDataEntity="StateGroup" TNameEntity="StateGroup_name" baseService="@CommonService" Id="@Id">
</EditNameComponent>

