@page "/Components/SharedComponents/StateGroupSelectBox"

<div>
    =====
    @if (entity == null)
    {
        <div>null</div> }
    else
    {

        <div>@entity.Code </div>
    }

    =====

</div>

@code {


}
