@page "/Components/SharedComponents/StateGroupSelectBox"


@if (stateGroupList == null)
{


    <p><em>Loading...</em></p>
}
else
{
    <div>
        <select class="form-select">
            <option value="">-- Select Country --</option>
            @foreach (StateGroup stateGroup in stateGroupList)
            {
                var stateGroupName = stateGroup.StateGroup_name.Where(p => p.Language_code == "en").FirstOrDefault();
                if (stateGroupName != null)
                { 

        <option value="@stateGroup.Code">@stateGroupName.Name</option>
                }
                

            }
        </select>
    </div>
}


@code {


}