@page "/MoveTexts/Create"
@inherits BasePageComponent

<h3>@GetAppTitle()</h3>

<CreateComponent APP="@appType" TDataEntity="MoveText" TNameEntity="MoveText_name" baseService="@commonService">
</CreateComponent>