@page "/MoveTexts/Edit_name/{Id:int}"
@inherits BasePageComponent
<h3>@GetAppTitle()</h3>
<NewTekkenApp.Pages.Components.Base.Name.EditNameComponent APP="@appType" TDataEntity="MoveText" TNameEntity="MoveText_name" baseService="@commonService" Id="@Id">
</NewTekkenApp.Pages.Components.Base.Name.EditNameComponent>

