@page "/MoveTexts"
@page "/MoveTexts/Index"

@inherits BasePageComponent

<h3>@GetAppTitle()</h3>

<CascadingValue Value="CharacterId">
    <CharacterSelectBox OnCharacterChanged="OnCharacterChanged">
    </CharacterSelectBox>
    <ListComponent @ref="childList" APP="@App" TDataEntity="MoveText" TNameEntity="MoveText_name" baseService="@CommonService">
    </ListComponent>
</CascadingValue>