@page "/Admin/MoveTypes"
@page "/Admin/MoveTypes/Index"

@inherits BasePageComponent

<h3>@GetAppTitle()</h3>

<ListComponent APP="@App" TDataEntity="MoveType" TNameEntity="MoveType_name" baseService="@CommonService">
</ListComponent>
