@page "/Admin/MoveTexts/Detail/{Id:int}"
@inherits BasePageComponent
<h3>@GetAppTitle()</h3>
<DetailComponent APP="@App" TDataEntity="MoveText" TNameEntity="MoveText_name" baseService="@CommonService" Id="@Id">
</DetailComponent>
