@page "/Admin/MoveDatas/Create"
@inherits BasePageComponent
<h3>@GetAppTitle()</h3>

<CreateComponent APP="@App" TDataEntity="MoveData" TNameEntity="MoveData_name" baseService="@CommonService">
</CreateComponent>