@page "/Admin/Moves/Delete/{Id:int}"
@inherits BasePageComponent
<h3>@GetAppTitle()</h3>
<DeleteComponent APP="@App" TDataEntity="Move" TNameEntity="Move_name" baseService="@CommonService" Id="@Id">
</DeleteComponent>
