@page "/Admin/Moves/Edit_number/{Id:int}"
@inherits BasePageComponent
<h3>@GetAppTitle()</h3>
<EditNumberComponent APP="@App" TDataEntity="Move" TNameEntity="Move_name" baseService=@CommonService Id="@Id" CharacterCode="@CharacterCode">
</EditNumberComponent>

