@page "/Admin/Moves"
@page "/Admin/Moves/Index"

@inherits BasePageComponent

<h3>@GetAppTitle()</h3>

<CascadingValue Value="CharacterId">
    <CharacterSelectBox OnCharacterChanged="OnCharacterChanged">
    </CharacterSelectBox>
    <ListComponent @ref="childList" APP="@App" TDataEntity="Move" TNameEntity="Move_name" baseService="@CommonService">
    </ListComponent>
</CascadingValue>