@page "/HitTypes/Create"
@inherits BaseDataComponent
<h3>Create</h3>

<TekkenApp.Pages.Components.Base.Data.CreateComponent APP="@appType" TDataEntity="HitType" TNameEntity="HitType_name" baseService="@commonService">
</TekkenApp.Pages.Components.Base.Data.CreateComponent>