@page "/HitTypes/Create"

<h3>Create</h3>

<TekkenApp.Pages.Components.Main.CreateComponent TEntity="HitType" TNameEntity="HitType_name" baseService="@hitTypeService"></TekkenApp.Pages.Components.Main.CreateComponent>