@page "/HitTypes/Create"

<h3>Create</h3>

<TekkenApp.Pages.Components.Base.Data.CreateComponent TDataEntity="HitType" TNameEntity="HitType_name" baseService="@hitTypeService"></TekkenApp.Pages.Components.Base.Data.CreateComponent>