@page "/HitTypes/Details_name/{Id}"

<h3>Details</h3>
@if (id == 0) { }
else
{
    <TekkenApp.Pages.Components.Name.NameDetailComponent TEntity="HitType" TNameEntity="HitType_name" baseService="@hitTypeService" Id="id">
    </TekkenApp.Pages.Components.Name.NameDetailComponent>
}