@page "/HitTypes/Detail_name/{Id}"

<h3>Details</h3>
@if (Id == "0") { }
else
{
    <TekkenApp.Pages.Components.Name.NameDetailComponent TEntity="@HitType" TNameEntity="@HitType_name" Id="@Id" baseService="@hitTypeService">
    </TekkenApp.Pages.Components.Name.NameDetailComponent>
}