@page "/HitTypes/Edit_name/{Id}"

<h3>Details</h3>
<TekkenApp.Pages.Components.Name.NameEditComponent TEntity="HitType" TNameEntity="HitType_name" baseService="@hitTypeService">
</TekkenApp.Pages.Components.Name.NameEditComponent>

