@page "/HitTypes/Edit_name/{Id}"

<h3>Details</h3>
<TekkenApp.Pages.Components.NameEditComponent baseTranslateName="@hitType_name" baseService="@hitTypeService">
</TekkenApp.Pages.Components.NameEditComponent>




