@page "/HitTypes/Edit_name/{Id:int}"
@inherits BaseDataComponent
<h3>Details</h3>
<TekkenApp.Pages.Components.Base.Name.EditNameComponent APP="@AppType.HitTypes" TDataEntity="HitType" TNameEntity="HitType_name" baseService="@hitTypeService" Id="@Id">
</TekkenApp.Pages.Components.Base.Name.EditNameComponent>

