@page "/HitTypes/Edit/{Id}"

<h3>Edit</h3>


<TekkenApp.Pages.Components.Main.EditComponent TEntity="HitType" TNameEntity="HitType_name" baseService="@hitTypeService"></TekkenApp.Pages.Components.Main.EditComponent>


6