@page "/HitTypes"
@page "/HitTypes/Index"
@inherits BaseDataComponent
<h3>@GetAppTitle()</h3>
<TekkenApp.Pages.Components.Base.Data.ListComponent APP="@appType" TDataEntity="HitType" TNameEntity="HitType_name" baseService="@commonService">
</TekkenApp.Pages.Components.Base.Data.ListComponent>
