@page "/HitTypes"
@page "/HitTypes/Index"
@inherits BasePageComponent
<h3>@GetAppTitle()</h3>
<TekkenApp.Pages.Components.Base.Data.ListComponent APP="@appType" TDataEntity="HitType" TNameEntity="HitType_name" baseService="@commonService">
</TekkenApp.Pages.Components.Base.Data.ListComponent>
<TekkenApp.Pages.Components.SharedComponents.StateGroupSelectBox></TekkenApp.Pages.Components.SharedComponents.StateGroupSelectBox>