@page "/HitTypes/Test"

<h3>Test</h3>

<TekkenApp.Pages.Components.Base.TestComponent TDataEntity="HitType" TNameEntity="HitType_name" baseService="@hitTypeService"></TekkenApp.Pages.Components.Base.TestComponent>