@page "/Admin/HitTypes/Create"
@inherits BasePageComponent
<h3>@GetAppTitle()</h3>

<CreateComponent APP="@App" TDataEntity="HitType" TNameEntity="HitType_name" baseService="@CommonService">
</CreateComponent>