@page "/Admin/HitTypes/Detail_name/{Id:int}"
@inherits BasePageComponent
<h3>@GetAppTitle()</h3>
<DetailNameComponent APP="@App" TDataEntity="HitType" TNameEntity="HitType_name" Id="@Id" baseService="@CommonService">
</DetailNameComponent>
