@page "/Common/Components/StateGroupSelectBox"

@if (selectListItems == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        <select id="StateGroup" class="form-control" @onchange="@(e =>  OnStateGroupChanged.Invoke((string)e.Value))">
            @foreach (var selectItem in selectListItems)
            {
                <option value="@selectItem.Value">@selectItem.Text</option>
            }
        </select>

    </div>
}
