@page "/Test"
@using TekkenApp.Data

@inject NavigationManager navagitionManager
@*@inject BaseService baseService*@


<h1>Hello, world!</h1>
@if (testNum <= 0)
{
    <p>-</p>
}
else
{
<p>@testNum</p>
<p>@NewNumber</p>
    
}

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
@code{

    [Inject]
    //private HitTypeService<hitt hitTypeService { get; set; }
    //private DbSet<HitType_name> = base

    public int testNum { get; set; }
    public int NewNumber { get; set; }
    public String table { get; set; }

    protected override async Task OnInitializedAsync()
    {
        //testNum = await baseService.GetCreateCode(TableName.HitType, 0, 0, 3);
        //NewNumber=await baseService.GetRecentBaseModel(TableName, 0);
        //baseService.GetRecentBaseModel("HitType", 0);
        //table = await baseService.GetTable("HitType");
    }

}