@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>
    .table tbody tr:nth-child(4n-3) {
        background: #e2e2e2;
    }
</style>

<div class="container">
    @await Html.PartialAsync("_CharacterSelect")

    @await Html.PartialAsync("_ListViewForm")

</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    @*<script type="text/javascript" src="~/js/moveSubType.js"></script>*@

    <script>
        $('#Character').change(function () {
            var url = '/Admin/MoveText/Index';
            var character_code = $('#Character').val();
            location.href = url + '?Character_code=' + character_code;
        });

        $().ready(function () {
            $('#Character').focus();
        });


    </script>
}

