@page "/MoveCommands/Create"
@inherits BasePageComponent

<h3>@GetAppTitle()</h3>

<CreateComponent APP="@App" TDataEntity="MoveCommand" TNameEntity="MoveCommand_name" baseService="@commonService">
</CreateComponent>