@page "/MoveCommands/Detail/{Id:int}"
@inherits BasePageComponent
<h3>@GetAppTitle()</h3>
<NewTekkenApp.Pages.Components.Base.Data.DetailComponent APP="@App" TDataEntity="MoveCommand" TNameEntity="MoveCommand_name" baseService="@CommonService" Id="@Id">
</NewTekkenApp.Pages.Components.Base.Data.DetailComponent>
