@page "/MoveDatas/Detail_name/{Id:int}"
@inherits BasePageComponent
<h3>@GetAppTitle()</h3>
<NewTekkenApp.Pages.Components.Base.Name.DetailNameComponent APP="@App" TDataEntity="MoveData" TNameEntity="MoveData_name" Id="@Id" baseService="@CommonService">
</NewTekkenApp.Pages.Components.Base.Name.DetailNameComponent>
