@model Character
@using TEKKEN_WEB.Enums
<div class="form row">
    <div class="row">
        @if (ViewBag.FormType == FormType.Update)
        {
            <div class="col-sm-3">
                <label asp-for="Id" class=" control-label"></label>
                <input asp-for="Id" class="form-control" style="border:0; width:100px;" maxlength="10" readonly />
                <input type="hidden" name="Id" value="@Model.Id" />
            </div>

        }
        <div class="col-sm-12">
            <label asp-for="Season" class="control-label"></label>
            <input asp-for="Season" class="form-control" style="width:150px;" maxlength="10" />
            <span asp-validation-for="Season" class="text-danger"></span>
        </div>

        <div class="col-sm-12">
            <label asp-for="Code" class="control-label"></label>
            <input asp-for="Code" class="form-control" style="width:150px;" maxlength="10" />
            <span asp-validation-for="Code" class="text-danger"></span>
        </div>
    </div>
    <div class="col-sm-12">
        <input type="submit" value="@ViewBag.SaveButtonText"
               class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-default">리스트</a>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <span class="text-danger">@ViewBag.ErrorMessage</span>
    </div>
</div>
