@page "/Admin/MoveSubTypes/Detail_name/{Id:int}"
@inherits BasePageComponent
<h3>@GetAppTitle()</h3>
    <DetailNameComponent APP="@App" TDataEntity="MoveSubType" TNameEntity="MoveSubType_name" Id="@Id" baseService="@CommonService">
    </DetailNameComponent>
