@page "/States/Detail/{Id:int}"
@inherits BasePageComponent
<h3>@GetAppTitle()</h3>
<TekkenApp.Pages.Components.Base.Data.DetailComponent APP="@appType" TDataEntity="State" TNameEntity="State_name" baseService="@commonService" Id="@Id">
</TekkenApp.Pages.Components.Base.Data.DetailComponent>
