@page "/States/Edit/{Id:int}"
@inherits BasePageComponent
<h3>@GetAppTitle()</h3>
<TekkenApp.Pages.Components.Base.Data.EditComponent APP="@appType" TDataEntity="State" TNameEntity="State_name" baseService=@commonService Id="@Id">
</TekkenApp.Pages.Components.Base.Data.EditComponent>

