@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>
    .table tbody tr:nth-child(5n-4) {
        background: #e2e2e2;
    }
</style>

<div class="container">
    @await Html.PartialAsync("_CharacterSelect")
    <label>@ViewBag.movePosition</label>
    @await Html.PartialAsync("_ListViewForm")
</div>



@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

<script>
        $('#Character').change(function () {
            var url = '/Admin/MoveCommand/Index';
            var character_code = $('#Character').val();
            location.href = url + '?Character_code=' + character_code;
        });

        $().ready(function () {
            var character_code = $('#Character').val();
            $('#Create').attr('href', '/Admin/MoveCommand/Create?Character_code=' + character_code)
            $('#Character').focus();

            var movePosition =@ViewBag.movePosition;
            if (movePosition > -1) {
                moveToPosition(movePosition);
            }
        });


</script>
}

