@page "/MoveSubTypes/Create"
@inherits BasePageComponent

<h3>@GetAppTitle()</h3>

<CreateComponent APP="@appType" TDataEntity="MoveSubType" TNameEntity="MoveSubType_name" baseService="@commonService">
</CreateComponent>