@page "/MoveSubTypes/Create"
@inherits BasePageComponent

<h3>@GetAppTitle()</h3>

<CreateComponent APP="@App" TDataEntity="MoveSubType" TNameEntity="MoveSubType_name" baseService="@CommonService">
</CreateComponent>