@page "/MoveSubTypes/Edit/{Id:int}"
@inherits BasePageComponent
<h3>@GetAppTitle()</h3>
<NewTekkenApp.Pages.Components.Base.Data.EditComponent APP="@appType" TDataEntity="MoveSubType" TNameEntity="MoveSubType_name" baseService=@commonService Id="@Id">
</NewTekkenApp.Pages.Components.Base.Data.EditComponent>

