@page "/MoveSubTypes"
@page "/MoveSubTypes/Index"

@inherits BasePageComponent

<h3>@GetAppTitle()</h3>

<CascadingValue Value="CharacterId">
    <CharacterSelectBox OnCharacterChanged="OnCharacterChanged">
    </CharacterSelectBox>
    <ListComponent @ref="childList" APP="@App" TDataEntity="MoveSubType" TNameEntity="MoveSubType_name" baseService="@commonService">
    </ListComponent>
</CascadingValue>